---
layout: page
title: News
permalink: /news/
paginate: 5
---

<div id="news">
  <section class="bg"></section>
  <h1 class="title">{{ page.title }}</h1>

  <ol class="presentations-list">
    {% assign news_posts = site.posts | where: "category", "news" %}
    {% for post in news_posts %}
      <li>
        <em class="title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </em>
        <em class="date">({{ post.date | date: "%B %-d, %Y" }})</em>
        {% if post.author %}
          • <em class="author">{{ post.author }}</em>
        {% endif %}
        
        {% if post.excerpt %}
          <p class="comment">{{ post.excerpt }}</p>
        {% endif %}

        <div class="links">
          {%- if post.tags %}
            [<span class="btn btn-sm z-depth-0" role="button">Tags: {{ post.tags | join: ", " }}</span>]
          {%- endif %}
          [<a href="{{ post.url | relative_url }}" class="btn btn-sm z-depth-0" role="button">Read more</a>]
        </div>
      </li>
    {% endfor %}
  </ol>
</div>
